<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IMDbAPI_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
      <IMDbAPI_Client.Properties.Settings>
        <setting name="MoviesDirectory" serializeAs="String">
          <value>D:\New Movies</value>
        </setting>
        <setting name="ApiKey" serializeAs="String">
          <value />
        </setting>
        <setting name="RemoveSites" serializeAs="String">
          <value>DownloadSiteName1
DownloadSiteName2</value>
        </setting>
        <setting name="Theme" serializeAs="String">
          <value>Default</value>
        </setting>
        <setting name="Style" serializeAs="String">
          <value>Default</value>
        </setting>
        <setting name="SeriesTvDirectory" serializeAs="String">
          <value />
        </setting>
        <setting name="SeriesTvID" serializeAs="String">
          <value />
        </setting>
        <setting name="MovieFile" serializeAs="String">
          <value />
        </setting>
        <setting name="OperationType" serializeAs="String">
          <value>Movies</value>
        </setting>
        <setting name="UseProxy" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ProxyServer" serializeAs="String">
          <value />
        </setting>
        <setting name="ProxyUsername" serializeAs="String">
          <value />
        </setting>
        <setting name="ProxyPassword" serializeAs="String">
          <value />
        </setting>
      </IMDbAPI_Client.Properties.Settings>
    </userSettings>
</configuration>